services:
  db:
    image: postgres:16-alpine
    environment:
      POSTGRES_USER: crm
      POSTGRES_PASSWORD: crm
      POSTGRES_DB: crm
    #ports:
      #- "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U crm -d crm"]
      interval: 5s
      timeout: 3s
      retries: 10

  api:
    build:
      context: ./api
    environment:
      APP_VERSION: "0.0.1"
      DATABASE_URL: "postgresql+psycopg://crm:crm@db:5432/crm"
      JWT_SECRET_KEY: "dev-change-me"
      ADMIN_EMAILS: "admin@example.com"
      EMAIL_PROVIDER: "fake"
    ports:
      - "8000:8000"
    volumes:
      - ./api:/app
    depends_on:
      db:
        condition: service_healthy

  worker:
    build:
      context: ./worker
    environment:
      APP_VERSION: "0.0.1"
      DATABASE_URL: "postgresql+psycopg://crm:crm@db:5432/crm"
      JWT_SECRET_KEY: "dev-change-me"
      ADMIN_EMAILS: "admin@example.com"
      EMAIL_PROVIDER: "fake"
    depends_on:
      db:
        condition: service_healthy
  
  test:
    build:
      context: ./api
    environment:
      APP_VERSION: "0.0.1"
      DATABASE_URL: "postgresql+psycopg://crm:crm@db:5432/crm_test"
      JWT_SECRET_KEY: "dev-change-me"
      ADMIN_EMAILS: "admin@example.com"
      EMAIL_PROVIDER: "fake"
      PYTHONPATH: "/app"
    volumes:
      - ./api:/app
    depends_on:
      db:
        condition: service_healthy
    command: > 
      sh -lc "psql postgresql://crm:crm@db:5432/postgres -c 'CREATE DATABASE crm_test;' || true &&
      pip install -r requirements-dev.txt &&
      pytest -q"
volumes:
  db_data:
